 <nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top"> 
<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded" >-->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/home/index">휴학왕</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/rule">Death Match Rule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/game/index">Death Match start</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/game/result">Death Match Result</a>
      </li>
    </ul>
  </div>
</nav> 
 
 
<div class="entire">
<div class="container">
    <div class="row rule_row">
        <div class="rule_img col-sm-6 col-md-12">
            <%=image_tag( "이미지 257.png", class: "oo") %>
        </div>
        <div class="rule_img col-sm-6 col-md-12">
            <%=image_tag( "이미지 152.png", class: "oo") %>
        </div>
        <div class="rule_img col-sm-6 col-md-12">
            <%=image_tag( "이미지 153.png", class: "oo") %>
        </div>
        <div class="rule_img col-sm-6 col-md-12">
            <%=image_tag( "이미지 154.png", class: "oo") %>
        </div>
        <div class="rule_img col-sm-6 col-md-12">
            <%=image_tag( "이미지 155.png", class: "oo") %>
        </div>
        <div class="rule_img col-sm-6 col-md-12">
            <%=image_tag( "이미지 156.png", class: "oo") %>
        </div>    
        <div class="rule_img rule_img_s col-sm-6 col-md-6">
            <%=image_tag( "이미지 165.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 166.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">      
            <%=image_tag( "이미지 170.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 197.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">     
            <%=image_tag( "이미지 199.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">    
            <%=image_tag( "이미지 201.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">    
            <%=image_tag( "이미지 203.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">    
            <%=image_tag( "이미지 204.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">    
            <%=image_tag( "이미지 205.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">    
            <%=image_tag( "이미지 208.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">     
            <%=image_tag( "이미지 211.png", class: "oo") %>
        </div>   
        <div class="rule_img rule_img_s col-sm-6 col-md-6">
            <%=image_tag( "이미지 212.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">       
            <%=image_tag( "이미지 213.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">       
            <%=image_tag( "이미지 243.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">       
            <%=image_tag( "이미지 244.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">       
            <%=image_tag( "이미지 245.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">       
            <%=image_tag( "이미지 246.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">       
            <%=image_tag( "이미지 247.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">       
            <%=image_tag( "이미지 248.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 217.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 218.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 219.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 220.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 221.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 222.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 223.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 224.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 225.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 226.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 227.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 228.png", class: "oo") %>
        </div>
        <div class="rule_img rule_img_s col-sm-6 col-md-6">   
            <%=image_tag( "이미지 229.png", class: "oo") %>
        </div>
        <div class="rule_img col-sm-6 col-md-12 mb-5">   
            <%=image_tag( "이미지 230.png", class: "oo") %>
        </div>
        <div class="rule_img col-sm-6 col-md-12 mt-5">   
            <%=image_tag( "이미지 236.png", class: "oo") %>
            <div class="foo_ter col-sm-6 col-md-12">
                <a href="/home/index" class="btn btn-default fbg-1">  처음 화면 가기 !  </a>
                <a href="/game/index" class="btn btn-default fbg-2">이제 데스매치하러 가기 !</a>
            </div>
            
            
        </div>
        
    </div>
</div>
<footer class="footer py-5">
    <div class="author__img m-auto">
        <%=image_tag( "휴학.jpg", class: "huh") %>
    </div>
    <h2 class="author__name mb-2 mt-3">제작자 : 권용일</h2>
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/yongil.kwon.142"><span class="sr-only">Facebook</span><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/yongil.kwon.142/?hl=en" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
        </ul>
 
    <p class="copyright">&copy; 2017 kwonyongil. All Rights Reserved.</p>
</footer>
